main {
  background: linear-gradient(rgb(49, 57, 65), #1a1919);
  color: white;
  display: flex;
  padding-bottom: 80px;
  /* padding-bottom: 100px; */
}

.title {
  margin: 12px 0px;
}

.subtitle {
  color: #0d6efd;
  margin: 20px 0px 10px 0px;
}

.home {
  color: white;
}

.thumbnail {
  width: 40px;
  margin-right: 5px;
}
