.rowContainer {
  display: flex;
  overflow-x: auto;
  background-color: transparent;
  padding: 0px 5px;
}

.scrollable-element {
  scrollbar-color: red yellow;
}

.card {
  margin-top: 20px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 5px;
}

.card:hover {
  scale: 1.1;
}

.backgroundBox {
  padding-left: 15px;
  padding-right: 20px;
  background-color: black;
  border-radius: 1rem;
}
